@tailwind base;
@tailwind components;
@tailwind utilities;


$anim-duration: 3; 
$anim-speed: 0.65; 



:root {
  --foreground-rgb: 0, 0, 0;
  background-color: #0C2840;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --btn-border: 1px solid rgba(255, 255, 255, 0.2);
  --btn-bg: transparent; // #333
  --btn-shadow: 1px 1px 25px 10px rgba(255, 255, 255, 0.5);
  --btn-text-color: #f4f4f4;

  --shine-degree: 120deg;
  --shine-color: rgba(255, 255, 255, 0.2);
  --shine-effect: linear-gradient(
    var(--shine-degree),
    transparent,
    var(--shine-color),
    transparent
  );
  --shine-transition: all #{$anim-speed}s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    background-color: #0C2840;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

:root {
  background-color: #0C2840;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  height: max-content;
}

body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card-shadow {
  box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.16);
}

.hero {
  background-image: linear-gradient(#040D15, #0C2840);
}

.buttonLinear {
  background-image: linear-gradient(#040d1542, #0c28404d);
}

.bgLinear {
  background-image: linear-gradient(#040d159d, #0c284096);
}

.bgLinearOff {
  background-image: linear-gradient(#040d1500, #0c284000);
}

.formShadow {
  box-shadow: 0px 1px 6px 3px rgba(0, 0, 0, 0.25);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}


.btn {
  position: relative;
  overflow: hidden;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--shine-effect);
  }
}

.btn-anim {
  &::before {
    animation: shine #{$anim-duration}s ease-in-out infinite;
  }
}

@keyframes shine {
  0% {
    left: -100%;
    transition-property: left;
  }
  #{($anim-speed / ($anim-duration + $anim-speed) * 100%)},
  100% {
    left: 100%;
    transition-property: left;
  }
}
