@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  background-color: #0C2840;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    background-color: #0C2840;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

:root {
  background-color: #0C2840;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  height: max-content;
}

body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card-shadow {
  box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.16);
}

.hero {
  background-image: linear-gradient(#040D15, #0C2840);
}

.buttonLinear {
  background-image: linear-gradient(#040d1542, #0c28404d);
}

.bgLinear {
  background-image: linear-gradient(#040d159d, #0c284096);
}

.bgLinearOff {
  background-image: linear-gradient(#040d1500, #0c284000);
}

.formShadow {
  box-shadow: 0px 1px 6px 3px rgba(0, 0, 0, 0.25);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}